@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-shadow:hover,
.label-shadow:focus-within,
.open-dropdown-shadow,
.dropdown-shadow:hover {
  box-shadow: 0px 0px 32px 0px rgba(99, 60, 255, 0.25);
}

.save-shadow {
  box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.1);
}

.inner-frame:before {
  content: '';
  position: absolute;
  top: -1px;
  left: -20px;
  width: 20px;
  height: 10px;
  background: white;
  border-top: 2px solid #737373;
  border-right: 2px solid #737373;
  border-top-right-radius: 30px;
  box-shadow: 3px -3px 0 3px white;
  z-index: 10;
}

.inner-frame:after {
  content: '';
  position: absolute;
  top: -1px;
  right: -20px;
  width: 20px;
  height: 10px;
  background: white;
  border-top: 2px solid #737373;
  border-left: 2px solid #737373;
  border-top-left-radius: 30px;
  box-shadow: -3px -3px 0px 3px white;
  z-index: 10;
}

/* width */
::-webkit-scrollbar {
  opacity: 0;
  width: 5px;
}

.onscroll::-webkit-scrollbar {
  opacity: 1;
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e2e2e2;
  border-radius: 5px;
}

/* Handle */
.onscroll::-webkit-scrollbar-thumb {
  background: #633cff;
  border-radius: 5px;
}

/* Handle on hover */
.onscroll::-webkit-scrollbar-thumb:hover {
  background: #555;
}
